@model IEnumerable<Anamnese.Models.AnamneseModel>

@{
    ViewData["Title"] = "Index";
    var idPaciente = ViewBag.IdPaciente;
}

<h1>Lista de Anamneses</h1>

<p>
    <a asp-action="Create" asp-route-idPaciente="@ViewBag.IdPaciente">Adicionar nova anamnese</a>
</p>

<p>IdPaciente: @ViewBag.IdPaciente</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DataCadastroAnamnese)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DataCadastroAnamnese)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.IdAnamnese" asp-route-IdPaciente="@ViewBag.IdPaciente">Detalhes</a> |
                <a asp-action="Edit" asp-route-id="@item.IdAnamnese" asp-route-IdPaciente="@ViewBag.IdPaciente">Editar</a> |
                <a asp-action="Delete" asp-route-id="@item.IdAnamnese" asp-route-IdPaciente="@ViewBag.IdPaciente">Deletar</a>
            </td>
        </tr>
}
        <p>
            <a asp-action="Index" asp-controller="PacienteModels">Voltar à lista de Pacientes</a>
        </p>
    </tbody>
</table>
