@model IEnumerable<Anamnese.Models.PacienteModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Lista de Pacientes</h1>

<p>
    <a asp-action="Create">Adicionar novo paciente</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Nome do paciente
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataCadastroPaciente)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NomePaciente)
                @Html.DisplayFor(modelItem => item.SobrenomePaciente)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataCadastroPaciente)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdPaciente">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.IdPaciente">Detalhes</a> |
                <a asp-action="Delete" asp-route-id="@item.IdPaciente">Deletar</a>
            </td>
        </tr>
}
    </tbody>
</table>
